@model Mission_Project.Models.Person // class'ı çağırdık.
@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Index">

<div>Personal İnformations about Applying for Job</div>
<br/>
@using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()
        @Html.LabelFor(m=> Model.Age)
        @Html.EditorFor(m=>Model.Age)
        @Html.ValidationMessageFor(m=> Model.Age)*@
        <br/>
        @*if(Model.Technologies != null)
        {
             for (int i = 0; i < Model.Technologies.Count; i++)
            {

                @Html.CheckBoxFor(m => Model.Technologies[i].IsChecked)
                @Model.Technologies[i].Text
                @Html.HiddenFor(m => Model.Technologies[i].Value)
                @Html.HiddenFor(m => Model.Technologies[i].Text)<br />

            }
        
        }*@
        @Html.AntiForgeryToken()
        @Html.LabelFor(m=> Model.identityNumber)
        @Html.EditorFor(m=>Model.identityNumber)
        @Html.ValidationMessageFor(m=> Model.identityNumber)
        <div>
            <input type="submit" value="Save"/>
        </div>
    }
    <Result: @Html.Label("", (string)ViewBag.Message)>
</form>